*

!.gitignore
!.gitmodules
!.vimrc
!.zshrc
!.zsh_aliases
!.tmux.conf

# Config files
!.config
.config/*

# Qutebrowser
!.config/qutebrowser
.config/qutebrowser
!.config/qutebrowser/config.py

# Refined GitHub
!.config/refined-github
!.config/refined-github/*

# Alacritty
!.config/alacritty
!.config/alacritty/alacritty.yml

# Yabai
!.config/yabai
!.config/yabai/*
!.config/ymsp
!.config/ymsp/ymsp.config.json

# Neovim
!.config/nvim
!.config/nvim/*

# Karabiner + Goku
!.config/karabiner
!.config/karabiner/karabiner.json
!.config/goku
!.config/goku/*

!.config/git
!.config/git/gitignore

# VSCode
!Library
!Library/Application Support
!Library/Application Support/Code
!Library/Application Support/Code/User
!Library/Application Support/Code/User/keybindings.json
!Library/Application Support/Code/User/settings.json

# launchctl
!Library/LaunchAgents
!Library/LaunchAgents/leondreamed.yabai.plist
!Library/LaunchAgents/deepwork.yabai.plist
!Library/LaunchAgents/com.federicoterzi.espanso.plist

# brew
!.config/brewfile
!.config/brewfile/*

# Keyboard layout
!Library/Keyboard Layouts
!Library/Keyboard Layouts/Programmer Dvorak.keylayout
!Library/Preferences
!Library/Application Support/espanso
Library/Application Support/espanso/*
!Library/Application Support/espanso/match
!Library/Application Support/espanso/match/*

# Hackintosh Configs
!.config/hackintosh
!.config/hackintosh/**/*

# Repos
!code
!code/install.sh
!code/zsh-autocomplete
code/zsh-autocomplete/*
!code/zsh-autocomplete/.gitrepo

# Bin Scripts
!bin
!bin/*

.DS_Store
