;; note: mod key is cmd + ctrl + opt + fn (CTOF/QWEF)
;; note: all the keys are in QWERTY because karabiner uses the hardware key
{
	:devices {
		:macbook-keyboard [{:vendor_id 0 :product_id 0}]
	}
	:applications {:vscode ["^com\\.microsoft\\.VSCode$"]}
	:main, [
		{:des "Configure modifier keys on macbook keyboard" :rules [
			;; left cmd -> left mod (left cmd + left ctrl)
			[:##left_command :!Tleft_command :macbook-keyboard]
			;; right cmd -> right mod (right cmd + right ctrl)
			[:##right_command :!Wright_command :macbook-keyboard]

			;; left ctrl -> left cmd
			[:##left_control :left_command :macbook-keyboard]
			;; right ctrl -> right cmd
			[:##right_control :right_command :macbook-keyboard]

			;; fn -> left ctrl
			{
				:from {:apple_vendor_top_case_key_code :keyboard_fn}
				:to [{:key_code :left_control}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; left arrow -> right cmd
			[:##left_arrow :right_command :macbook-keyboard]

			;; up arrow -> right ctrl
			;; down arrow -> right ctrl
			[:##up_arrow :right_control :macbook-keyboard]
			[:##down_arrow :right_control :macbook-keyboard]


			;; right arrow -> fn
			{
				:from {:key_code :right_arrow}
				:to [{:apple_vendor_top_case_key_code :keyboard_fn}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; fn + esdf -> arrow keys
			[:!F##e :up_arrow :macbook-keyboard]
			[:!F##s :left_arrow :macbook-keyboard]
			[:!F##d :down_arrow :macbook-keyboard]
			[:!F##f :right_arrow :macbook-keyboard]
		]}
		{:des "Swap caps lock to backspace on macbook keyboard" :rules [
			[:##caps_lock :delete_or_backspace :macbook-keyboard]
			[:##delete_or_backspace :caps_lock :macbook-keyboard]
		]}
		{:des "Remap cmd + tab to ctrl + tab in VSCode" :rules [
			[:!Ctab :vk_none]
			[:!Qtab :vk_none]
			[:!CStab :vk_none]
			[:!CRtab :vk_none]
			[:!QStab :vk_none]
			[:!QRtab :vk_none]
		]}
		{:des, "Yabai keybinds", :rules [
			;; mod + j: focus down
			[:!CTOF#QWEFc "ymsp focus-down-window > /dev/null"]
			[:!QWEF#CTOFc "/Users/leonsilicon/Library/pnpm/ymsp focus-down-window > /dev/null"]
			;; mod + k: focus up
			[:!CTOF#QWEFv "/Users/leonsilicon/Library/pnpm/ymsp focus-up-window > /dev/null"]
			[:!QWEF#CTOFv "/Users/leonsilicon/Library/pnpm/ymsp focus-up-window > /dev/null"]
			;; mod + m: focus on master
			[:!CTOF#QWEFm "/opt/homebrew/bin/yabai -m window --focus east"]
			[:!QWEF#CTOFm "/opt/homebrew/bin/yabai -m window --focus east"]
			;; mod + shift + m: move window to master
			[:!CTOFS#QWEFRm "/opt/homebrew/bin/yabai -m window --swap east"]
			[:!QWEFR#CTOFSm "/opt/homebrew/bin/yabai -m window --swap east"]
			;; mod + shift + i: increase number of master windows
			[:!CTOFS#QWEFRg "/Users/leonsilicon/Library/pnpm/ymsp increase-master-window-count > /dev/null"]
			[:!QWEFR#CTOFSg "/Users/leonsilicon/Library/pnpm/ymsp increase-master-window-count > /dev/null"]
			;; mod + shift + d: decrease number of master windows
			[:!CTOFS#QWEFRh "/Users/leonsilicon/Library/pnpm/ymsp decrease-master-window-count > /dev/null"]
			[:!QWEFR#CTOFSh "/Users/leonsilicon/Library/pnpm/ymsp decrease-master-window-count > /dev/null"]
			;; mod + shift + j: move window down
			[:!CTOFS#QWEFRc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebre/bin/yabai -m window --swap first"]
			[:!QWEFR#CTOFSc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebrew/bin/yabai -m window --swap first"]
			;; mod + shift + k: move window up
			[:!CTOFS#QWEFRv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			[:!QWEFR#CTOFSv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			;; mod + h: resize window left
			[:!CTOF#QWEFj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			[:!QWEF#CTOFj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			;; mod + l: resize window right
			[:!CTOF#QWEFp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			[:!QWEF#CTOFp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			;; mod + alt + k: resize window top
			[:!CTOFS#QWEFRp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			[:!QWEFR#CTOFSp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			;; mod + alt + j: resize window bottom
			[:!CTOFS#QWEFRj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
			[:!QWEFR#CTOFSj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
			;; mod + shift + q: close focused window
			[:!CTOFS#QWEFRx "/Users/leonsilicon/Library/pnpm/ymsp close-focused-window > /dev/null"]
			[:!QWEFR#CTOFSx "/Users/leonsilicon/Library/pnpm/ymsp close-focused-window > /dev/null"]
			;; mod + period: switch to next display
			[:!CTOF#QWEFe "/opt/homebrew/bin/yabai -m display --focus next || yabai -m display --focus first"]
			[:!QWEF#CTOFe "/opt/homebrew/bin/yabai -m display --focus next || yabai -m display --focus first"]
			;; mod + shift + period: move window to next display
			[:!CTOFS#QWEFRe "/opt/homebrew/bin/yabai -m window --display next || yabai -m window --display first"]
			[:!QWEFR#CTOFSe "/opt/homebrew/bin/yabai -m window --display next || yabai -m window --display first"]
			;; mod + comma: switch to previous display
			[:!CTOF#QWEFw "/opt/homebrew/bin/yabai -m display --focus prev || yabai -m display --focus last"]
			[:!QWEF#CTOFw "/opt/homebrew/bin/yabai -m display --focus prev || yabai -m display --focus last"]
			;; mod + shift + comma: move window to previous display
			[:!CTOFS#QWEFRw "/opt/homebrew/bin/yabai -m window --display prev || /opt/homebrew/bin/yabai -m window --display last"]
			[:!QWEFR#CTOFSw "/opt/homebrew/bin/yabai -m window --display prev || /opt/homebrew/bin/yabai -m window --display last"]
			;; mod + <number>: switch to space number <number>
			[:!CTOF#QWEF9 "/opt/homebrew/bin/yabai -m space --focus next"]
			[:!QWEF#CTOF9 "/opt/homebrew/bin/yabai -m space --focus next"]
			[:!CTOF#QWEFquote "/opt/homebrew/bin/yabai -m space --focus prev"]
			[:!QWEF#CTOFquote "/opt/homebrew/bin/yabai -m space --focus prev"]

			;; applications

			;; mod + b: open brave (browser)
			[:!CTOF#QWEFn "open -na '/Applications/qutebrowser.app'"]
			[:!QWEF#CTOFn "open -na '/Applications/qutebrowser.app'"]
											  ;; mod + f: open finder
			[:!CTOF#QWEFy "open /Users/leonsilicon"]
			[:!QWEF#CTOFy "open /Users/leonsilicon"]
			;; mod + p open bitwarden (password manager)
			[:!CTOF#QWEFr "open -na /Applications/Bitwarden.app"]
			[:!QWEF#CTOFr "open -na /Applications/Bitwarden.app"]
			;; mod + return: open alacritty
			[:!CTOF#QWEFreturn_or_enter "open -na /Applications/Warp.app"]
			[:!QWEF#CTOFreturn_or_enter "open -na /Applications/Warp.app"]
		]}
		{:des "F23-24 to mod key", :rules [
			[:##f23, :!Tleft_command]
			[:##f24, :!Wright_command]
		]}
		{:des "F22 to Fn key", :rules [
			[:##f22, :fn]
		]}
	]
}
