;; note: super key is cmd + ctrl + opt (CTO/QWE); we can't use fn because that isn't supported as a modifier key on macOS apps
;; note: all the keys are in QWERTY because karabiner uses the hardware key
{
	:devices {
		:macbook-keyboard [{:vendor_id 0 :product_id 0}]
	}
	:applications {:vscode ["^com\\.microsoft\\.VSCode$"]}
	:main, [
                ;; Disable super + shift + v (period on QWERTY) as it triggers sysdiagnose
                ;; https://github.com/pqrs-org/Karabiner-Elements/issues/1107

                {:des "Disable <Super+Shift+V> (sysdiagnose)" :rules [
                        [:!QWER#CTOSperiod, :!Cf19]
                        [:!CTOS#QWERperiod, :!Cf19]
                ]},
		{:des "Configure modifier keys on macbook keyboard" :rules [
			;; left cmd -> left super (left cmd + left ctrl)
			[:##left_command :!CTleft_option :macbook-keyboard]
			;; right cmd -> right super (right cmd + right ctrl)
			[:##right_command :!QWright_option :macbook-keyboard]

			;; left ctrl -> left cmd
			[:##left_control :left_command :macbook-keyboard]
			;; right ctrl -> right cmd
			[:##right_control :right_command :macbook-keyboard]

			;; fn -> left ctrl
			{
				:from {:apple_vendor_top_case_key_code :keyboard_fn}
				:to [{:key_code :left_control}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; left arrow -> right cmd
			[:##left_arrow :right_command :macbook-keyboard]

			;; up arrow -> right ctrl
			;; down arrow -> right ctrl
			[:##up_arrow :right_control :macbook-keyboard]
			[:##down_arrow :right_control :macbook-keyboard]


			;; right arrow -> fn
			{
				:from {:key_code :right_arrow}
				:to [{:apple_vendor_top_case_key_code :keyboard_fn}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; fn + esdf -> arrow keys
			[:!F##e :up_arrow :macbook-keyboard]
			[:!F##s :left_arrow :macbook-keyboard]
			[:!F##d :down_arrow :macbook-keyboard]
			[:!F##f :right_arrow :macbook-keyboard]
		]}
		{:des "Swap caps lock to backspace on macbook keyboard" :rules [
			[:##caps_lock :delete_or_backspace :macbook-keyboard]
			[:##delete_or_backspace :caps_lock :macbook-keyboard]
		]}
		{:des "Remap cmd + tab to ctrl + tab in VSCode" :rules [
			[:!Ctab :vk_none]
			[:!Qtab :vk_none]
			[:!CStab :vk_none]
			[:!CRtab :vk_none]
			[:!QStab :vk_none]
			[:!QRtab :vk_none]
		]}
		{:des, "Yabai keybinds", :rules [
			;; super + j: focus down
			[:!CTO#QWEc "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-down-window > /dev/null"]
			[:!QWE#CTOc "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-down-window > /dev/null"]
			;; super + k: focus up
			[:!CTO#QWEv "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-up-window > /dev/null"]
			[:!QWE#CTOv "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-up-window > /dev/null"]
			;; super + m: focus on master
			[:!CTO#QWEm "/opt/homebrew/bin/yabai -m window --focus east"]
			[:!QWE#CTOm "/opt/homebrew/bin/yabai -m window --focus east"]
			;; super + shift + m: move window to master
			[:!CTOS#QWERm "/opt/homebrew/bin/yabai -m window --swap east"]
			[:!QWER#CTOSm "/opt/homebrew/bin/yabai -m window --swap east"]
			;; super + i: increase number of master windows
			[:!CTO#QWEg "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp increase-master-window-count > /dev/null"]
			[:!QWE#CTOg "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp increase-master-window-count > /dev/null"]
			;; super +  d: decrease number of master windows
			[:!CTO#QWEh "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp decrease-master-window-count > /dev/null"]
			[:!QWE#CTOh "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp decrease-master-window-count > /dev/null"]
			;; super + shift + j: move window down
			[:!CTOS#QWERc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebre/bin/yabai -m window --swap first"]
			[:!QWER#CTOSc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebrew/bin/yabai -m window --swap first"]
			;; super + shift + k: move window up
			[:!CTOS#QWERv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			[:!QWER#CTOSv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			;; super + h: resize window left
			[:!CTO#QWEj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			[:!QWE#CTOj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			;; super + l: resize window right
			[:!CTO#QWEp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			[:!QWE#CTOp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			;; super + alt + k: resize window top
			[:!CTOS#QWERp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			[:!QWER#CTOSp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			;; super + alt + j: resize window bottom
			[:!CTOS#QWERj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
			[:!QWER#CTOSj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
                        ;; super + f: toggle window fullscreen
			[:!QWE#CTOy "/opt/homebrew/bin/yabai -m window --toggle native-fullscreen"]
			[:!CTO#QWEy "/opt/homebrew/bin/yabai -m window --toggle native-fullscreen"]

			;; super + q: close focused window
			[:!CTO#QWEx "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp close-focused-window > /dev/null"]
			[:!QWE#CTOx "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp close-focused-window > /dev/null"]

			;; super + period: focus next display
			[:!CTO#QWEe "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-next-display"]
			[:!QWE#CTOe "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-next-display"]
			;; super + shift + period: move window to next display
			[:!CTOS#QWERe "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp move-window-to-next-display"]
			[:!QWER#CTOSe "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp move-window-to-next-display"]

			;; super + comma: focus previous display
			[:!CTO#QWEw "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-previous-display"]
			[:!QWE#CTOw "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp focus-previous-display"]
			;; super + shift + comma: move window to previous display
			[:!CTOS#QWERw "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp move-window-to-previous-display"]
			[:!QWER#CTOSw "/opt/homebrew/bin/bun /Users/leonsilicon/.bun/bin/ymsp move-window-to-previous-display"]

                        ;; super + z: minimize window
			[:!CTO#QWEslash "/opt/homebrew/bin/yabai -m window --minimize"]
			[:!QWE#CTOslash "/opt/homebrew/bin/yabai -m window --minimize"]

			;; applications

			;; super + w: open Warp Terminal
			[:!CTO#QWEcomma "open -a /Applications/Warp.app"]
			[:!QWE#CTOcomma "open -a /Applications/Warp.app"]
			;; super + shift + w: open Warp Terminal in a new window
			[:!CTOS#QWERcomma "open -na /Applications/Warp.app"]
			[:!QWER#CTOScomma "open -na /Applications/Warp.app"]
			;; super + b: open Qutebrowser
			[:!CTO#QWEn "open -na /Applications/Qutebrowser.app"]
			[:!QWE#CTOn "open -na /Applications/Qutebrowser.app"]
		]}
		{:des "F22 to Fn key", :rules [
			[:##f22, :fn]
		]}
		{:des "F23-24 to super key", :rules [
			[:##f23, :!CTleft_option]
			[:##f24, :!QWright_option]
		]}
	]
}
