;; note: mod key is cmd + ctrl + opt (CTO/QWE); we can't use fn because that isn't supported as a modifier key on macOS apps
;; note: all the keys are in QWERTY because karabiner uses the hardware key
{
	:devices {
		:macbook-keyboard [{:vendor_id 0 :product_id 0}]
	}
	:applications {:vscode ["^com\\.microsoft\\.VSCode$"]}
	:main, [
		{:des "Configure modifier keys on macbook keyboard" :rules [
			;; left cmd -> left mod (left cmd + left ctrl)
			[:##left_command :!CTleft_option :macbook-keyboard]
			;; right cmd -> right mod (right cmd + right ctrl)
			[:##right_command :!QWright_option :macbook-keyboard]

			;; left ctrl -> left cmd
			[:##left_control :left_command :macbook-keyboard]
			;; right ctrl -> right cmd
			[:##right_control :right_command :macbook-keyboard]

			;; fn -> left ctrl
			{
				:from {:apple_vendor_top_case_key_code :keyboard_fn}
				:to [{:key_code :left_control}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; left arrow -> right cmd
			[:##left_arrow :right_command :macbook-keyboard]

			;; up arrow -> right ctrl
			;; down arrow -> right ctrl
			[:##up_arrow :right_control :macbook-keyboard]
			[:##down_arrow :right_control :macbook-keyboard]


			;; right arrow -> fn
			{
				:from {:key_code :right_arrow}
				:to [{:apple_vendor_top_case_key_code :keyboard_fn}]
				:conditions [{
					:identifiers [{:vendor_id 0 :product_id 0}]
					:type :device_if
				}]
				:type :basic
			}

			;; fn + esdf -> arrow keys
			[:!F##e :up_arrow :macbook-keyboard]
			[:!F##s :left_arrow :macbook-keyboard]
			[:!F##d :down_arrow :macbook-keyboard]
			[:!F##f :right_arrow :macbook-keyboard]
		]}
		{:des "Swap caps lock to backspace on macbook keyboard" :rules [
			[:##caps_lock :delete_or_backspace :macbook-keyboard]
			[:##delete_or_backspace :caps_lock :macbook-keyboard]
		]}
		{:des "Remap cmd + tab to ctrl + tab in VSCode" :rules [
			[:!Ctab :vk_none]
			[:!Qtab :vk_none]
			[:!CStab :vk_none]
			[:!CRtab :vk_none]
			[:!QStab :vk_none]
			[:!QRtab :vk_none]
		]}
		{:des, "Yabai keybinds", :rules [
			;; mod + j: focus down
			[:!CTO#QWEc "ymsp focus-down-window > /dev/null"]
			[:!QWE#CTOc "/Users/leonsilicon/Library/pnpm/ymsp focus-down-window > /dev/null"]
			;; mod + k: focus up
			[:!CTO#QWEv "/Users/leonsilicon/Library/pnpm/ymsp focus-up-window > /dev/null"]
			[:!QWE#CTOv "/Users/leonsilicon/Library/pnpm/ymsp focus-up-window > /dev/null"]
			;; mod + m: focus on master
			[:!CTO#QWEm "/opt/homebrew/bin/yabai -m window --focus east"]
			[:!QWE#CTOm "/opt/homebrew/bin/yabai -m window --focus east"]
			;; mod + shift + m: move window to master
			[:!CTOS#QWERm "/opt/homebrew/bin/yabai -m window --swap east"]
			[:!QWER#CTOSm "/opt/homebrew/bin/yabai -m window --swap east"]
			;; mod + shift + i: increase number of master windows
			[:!CTOS#QWERg "/Users/leonsilicon/Library/pnpm/ymsp increase-master-window-count > /dev/null"]
			[:!QWER#CTOSg "/Users/leonsilicon/Library/pnpm/ymsp increase-master-window-count > /dev/null"]
			;; mod + shift + d: decrease number of master windows
			[:!CTOS#QWERh "/Users/leonsilicon/Library/pnpm/ymsp decrease-master-window-count > /dev/null"]
			[:!QWER#CTOSh "/Users/leonsilicon/Library/pnpm/ymsp decrease-master-window-count > /dev/null"]
			;; mod + shift + j: move window down
			[:!CTOS#QWERc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebre/bin/yabai -m window --swap first"]
			[:!QWER#CTOSc "/opt/homebrew/bin/yabai -m window --swap next || /opt/homebrew/bin/yabai -m window --swap first"]
			;; mod + shift + k: move window up
			[:!CTOS#QWERv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			[:!QWER#CTOSv "/opt/homebrew/bin/yabai -m window --swap prev || /opt/homebrew/bin/yabai -m window --swap last"]
			;; mod + h: resize window left
			[:!CTO#QWEj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			[:!QWE#CTOj "/opt/homebrew/bin/yabai -m window --resize right:-50:0; /opt/homebrew/bin/yabai -m window --resize left:-50:0"]
			;; mod + l: resize window right
			[:!CTO#QWEp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			[:!QWE#CTOp "/opt/homebrew/bin/yabai -m window --resize right:50:0; /opt/homebrew/bin/yabai -m window --resize left:50:0"]
			;; mod + alt + k: resize window top
			[:!CTOS#QWERp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			[:!QWER#CTOSp "/opt/homebrew/bin/yabai -m window --resize top:0:-50; /opt/homebrew/bin/yabai -m window --resize bottom:0:-50"]
			;; mod + alt + j: resize window bottom
			[:!CTOS#QWERj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
			[:!QWER#CTOSj "/opt/homebrew/bin/yabai -m window --resize bottom:0:50; /opt/homebrew/bin/yabai -m window --resize top:0:50"]
			;; mod + shift + q: close focused window
			[:!CTOS#QWERx "/Users/leonsilicon/Library/pnpm/ymsp close-focused-window > /dev/null"]
			[:!QWER#CTOSx "/Users/leonsilicon/Library/pnpm/ymsp close-focused-window > /dev/null"]
			;; mod + period: switch to next display
			[:!CTO#QWEe "/opt/homebrew/bin/yabai -m display --focus next || yabai -m display --focus first"]
			[:!QWE#CTOe "/opt/homebrew/bin/yabai -m display --focus next || yabai -m display --focus first"]
			;; mod + shift + period: move window to next display
			[:!CTOS#QWERe "/opt/homebrew/bin/yabai -m window --display next || yabai -m window --display first"]
			[:!QWER#CTOSe "/opt/homebrew/bin/yabai -m window --display next || yabai -m window --display first"]
			;; mod + comma: switch to previous display
			[:!CTO#QWEw "/opt/homebrew/bin/yabai -m display --focus prev || yabai -m display --focus last"]
			[:!QWE#CTOw "/opt/homebrew/bin/yabai -m display --focus prev || yabai -m display --focus last"]
			;; mod + shift + comma: move window to previous display
			[:!CTOS#QWERw "/opt/homebrew/bin/yabai -m window --display prev || /opt/homebrew/bin/yabai -m window --display last"]
			[:!QWER#CTOSw "/opt/homebrew/bin/yabai -m window --display prev || /opt/homebrew/bin/yabai -m window --display last"]
			;; mod + <number>: switch to space number <number>
			[:!CTO#QWE9 "/opt/homebrew/bin/yabai -m space --focus next"]
			[:!QWE#CTO9 "/opt/homebrew/bin/yabai -m space --focus next"]
			[:!CTO#QWEquote "/opt/homebrew/bin/yabai -m space --focus prev"]
			[:!QWE#CTOquote "/opt/homebrew/bin/yabai -m space --focus prev"]

			;; applications

			;; mod + b: open brave (browser)
			[:!CTO#QWEn "open -na '/Applications/qutebrowser.app'"]
			[:!QWE#CTOn "open -na '/Applications/qutebrowser.app'"]
											  ;; mod + f: open finder
			[:!CTO#QWEy "open /Users/leonsilicon"]
			[:!QWE#CTOy "open /Users/leonsilicon"]
			;; mod + p open bitwarden (password manager)
			[:!CTO#QWEr "open -na /Applications/Bitwarden.app"]
			[:!QWE#CTOr "open -na /Applications/Bitwarden.app"]
			;; mod + return: open alacritty
			[:!CTO#QWEreturn_or_enter "open -na /Applications/Warp.app"]
			[:!QWE#CTOreturn_or_enter "open -na /Applications/Warp.app"]
		]}
		{:des "F23-24 to mod key", :rules [
			[:##f23, :!CTleft_option]
			[:##f24, :!QWright_option]
		]}
		{:des "F22 to Fn key", :rules [
			[:##f22, :fn]
		]}
	]
}
